Here is your password as requested! <%= @user.name %>
===============================================

Here is your password as requested! <%= @user.name %></h1>
Here is your password:  <%= @user.password %>
 
Thanks and have a great day!