<!--New user account data creating page that takes user input by rendering to "form"-->
<div class="container">
	<h1>Sign up!</h1>
</div>

<%= render 'form' %>
<br/>
<div class="container">
	<%= link_to 'Back', '/', :class=>"btn btn-default", :style=>'width:30%; min-width:200px'  %>
</div>

