<div style="text-align: center">
	<!-- title of the page -->
	<div class="col-md-12">
		<h1> hello, world!</h1>
	</div>

	<!-- button container -->
	<div class="col-md-12">
		<button class="btn btn-default"> 
			sign up 
		</button>
		
		<button class="btn btn-default"> 
			login 
		</button>
		
		<button class="btn btn-default"> 
			forgot password
		</button>
		
		<button class="btn btn-default"> 
			<%= link_to "test moves api", moves_getauth_path %>
		</button> 
	</div>
</div