<div><%= @access_token %></div>
<div><%= @refresh_token %></div>
<button class="btn btn-default"> 
	<%= link_to "get data", moves_getdata_path(:access_token => @access_token, :refresh_token => @refresh_token) %>
</button>
