<nav class="navbar navbar-default">
  <div class="navbar-header">
    <a class="navbar-brand" href="/">
      Stepmates
    </a>
  </div>
  <button class="btn btn-default navbar-btn navbar-right" style="margin-right: 30px">
    <%= link_to 'Log Out', logout_path %>
  </button>
</nav>

<h1>Sending email to <%=@patient.name%></h1>

<%= render 'form_email' %> 

<div class="container">
	<button class="btn btn-default">
		<%= link_to 'Back', @patient %>
	</button>
</div>