<h1>Editing <%=@patient.name%></h1>

<%= render 'form_edit' %>

<div class="container">
	<button class="btn btn-default">
		<%= link_to 'Show', @patient %> 
	</button>
	<button class="btn btn-default">
		<%= link_to 'Back', patients_path %>
	</button>
</div>