<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Stepmates, <%= @patient.name %></h1>
    <p>
      Im a doctor, <%= @user.name %><br>, in charge of you.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>