<div class="container"> 
  <div class="col-md-6 col-md-offset-3" style="text-align: center">
    <h1 style="margin-top:70px"> Hello, <%= @user[:name] %>!</h1>
    <br/>
    <%= link_to "See Patients", patients_path, :class=>"btn btn-info", :style=>"width:100%; margin-top:10px"  %>
    <%= link_to "Add Patient", 'addpatient', :class=>"btn btn-default", :style=>"width:100%; margin-top:10px" %>
  </div>
</div>